.u-Text {
  &--muted {
    color: $gray-70;
  }

  &--loud {
    font-family: $heading-semibold-font-family;
    text-transform: uppercase;
  }

  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }

  &--color {
    &-dark {
      color: $black;
    }

    &-light {
      color: $white;
    }

    &-primary {
      color: map-get($theme-colors, primary);

      &-variant {
        color: map-get($theme-colors, primary-variant);
      }
    }

    &-secondary {
      color: map-get($theme-colors, secondary);

      &-variant {
        color: map-get($theme-colors, secondary-variant);
      }
    }

    &-accent {
      color: map-get($theme-colors, accent);

      &-variant {
        color: map-get($theme-colors, accent-variant);
      }
    }

    &-safe {
      color: map-get($semantic-colors, safe);
    }

    &-caution {
      color: map-get($theme-colors, caution);
    }

    &-danger {
      color: map-get($theme-colors, danger);
    }
  }
}
