/// Provides styles for the InlineForm element.
/// @group forms
/// @author Richard Davis
/// @example
///   // An inline form
///   <form class="InlineForm">
///     <input type="text" />
///     <input type="submit" class="Button--solid-safe" value="Lorem Ipsum" />
///   </form>
.InlineForm {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include breakpoint-s {
    flex-flow: row wrap;
  }

  button,
  input[type="submit"] {
    flex: 1;
    margin: spacing-size(1);

    @include breakpoint-s {
      flex: 0;
    }
  }

  input[type="text"] {
    @extend %basic-form-field-styling;

    flex-grow: 8;
    border-width: 1px 1px 5px 1px;
    border-color: grayscale-color(20) grayscale-color(20) $black grayscale-color(20);
    padding: spacing-size(2);
    margin: spacing-size(1);

    @include breakpoint-s {
      margin: spacing-size(1);
    }
  }
}
