/// Provides styles for form fields.
/// @group forms
/// @author Richard Davis
/// @example
///   @extend %basic-form-field-styling;
%basic-form-field-styling {
  @extend %default-border-styling;

  appearance: none;
  line-height: 7vh;
  font-family: $base-font-family;
  font-size: 1em;
  background-color: $white;
  box-shadow: $form-box-shadow;
  transition: border-color $base-duration $base-timing;
  padding: spacing-size("small");

  @include breakpoint-s {
    line-height: 5vh;
  }

  &:hover {
    border-color: theme-color("secondary");
  }

  &:focus {
    border-color: theme-color("primary");
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }

  &:disabled,
  &[readonly] {
    background-color: darken($white, 2%);
    cursor: not-allowed;

    &:hover {
      border-color: grayscale-color(30);
    }

    &:focus {
      border-color: grayscale-color(30);
      box-shadow: $form-box-shadow;
      outline: none;
    }
  }

  &::placeholder {
    color: lighten($base-font-color, 20%);
  }
}
