.BoxLink {
  display: block;
  font-family: $heading-semibold-font-family;
  font-size: 125%;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  margin: $tiny-spacing;
  padding: $base-spacing $small-spacing;
  border-width: 1px;
  border-style: solid;
  border-radius: $base-border-radius;

  @media screen and (min-width: $M) {
    margin: $small-spacing;
    padding: $base-spacing;
  }

  @media screen and (min-width: $L) {
    margin: $base-spacing;
    padding: $large-spacing;
  }

  &--light {
    @extend .BoxLink;

    @include basic-box-link-inverted($gray-20);
  }

  &--dark {
    @extend .BoxLink;

    @include basic-box-link($black);
  }

  &--primary {
    @extend .BoxLink;

    @include basic-box-link(map-get($theme_colors, primary));

    &-variant {
      @extend .BoxLink;

      @include basic-box-link(map-get($theme_colors, primary-variant));
    }
  }

  &--secondary {
    @extend .BoxLink;

    @include basic-box-link(map-get($theme_colors, secondary));

    &-variant {
      @extend .BoxLink;

      @include basic-box-link(map-get($theme_colors, secondary-variant));
    }
  }

  &--accent {
    @extend .BoxLink;

    @include basic-box-link(map-get($theme_colors, accent));

    &-variant {
      @extend .BoxLink;

      @include basic-box-link(map-get($theme_colors, accent-variant));
    }
  }

  &--safe {
    @extend .BoxLink;

    @include basic-box-link(map-get($semantic_colors, safe));
  }

  &--caution {
    @extend .BoxLink;

    @include basic-box-link(map-get($semantic_colors, caution));
  }

  &--danger {
    @extend .BoxLink;

    @include basic-box-link(map-get($semantic_colors, danger));
  }
}
