.Card {
  width: 97%;
  word-wrap: break-word;
  padding: 0;
  margin: $small-spacing auto;
  border-style: solid;
  border-radius: $base-border-radius;

  @include basic-card-border($black);

  @media screen and (min-width: $S) {
    width: 75%;
  }

  @media screen and (min-width: $M) {
    width: 65%;
  }

  @media screen and (min-width: $L) {
    width: 55%;
  }

  &--medium {
    width: 97%;

    @media screen and (min-width: $S) {
      width: 75%;
    }

    @media screen and (min-width: $M) {
      width: 65%;
    }

    @media screen and (min-width: $L) {
      width: 55%;
    }
  }

  &--small {
    width: 97%;

    @media screen and (min-width: $S) {
      width: 66%;
    }

    @media screen and (min-width: $M) {
      width: 55%;
    }

    @media screen and (min-width: $L) {
      width: 33%;
    }
  }

  &--primary {
    @include basic-card-border(map-get($theme-colors, primary));

    &-variant {
      @include basic-card-border(map-get($theme-colors, primary-variant));
    }
  }

  &--secondary {
    @include basic-card-border(map-get($theme-colors, secondary));

    &-variant {
      @include basic-card-border(map-get($theme-colors, secondary-variant));
    }
  }

  &--accent {
    @include basic-card-border(map-get($theme-colors, accent));

    &-variant {
      @include basic-card-border(map-get($theme-colors, accent-variant));
    }
  }

  &--safe {
    @include basic-card-border(map-get($semantic-colors, safe));
  }

  &--caution {
    @include basic-card-border(map-get($semantic-colors, caution));
  }

  &--danger {
    @include basic-card-border(map-get($semantic-colors, danger));
  }

  &__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 85%;
    line-height: 1.5;
    margin: 0;
    padding: $small_spacing;

    &-text {
      margin: 0;
    }
  }

  &__body {
    padding: $mid-spacing;

    @media screen and (min-width: $M) {
      padding: $base-spacing;
    }
  }

  &__title {
    color: $black;
    text-transform: uppercase;
    text-align: center;
    margin: $mid-spacing 0 $tiny-spacing;

    &--spaced {
      margin: $mid-spacing 0 $base-spacing;
    }
  }

  &__footer {
    font-size: 85%;
    line-height: 1.5;
    margin: 0;
    padding: $small-spacing;

    &-text {
      margin: 0;
    }
  }
}
