.Flash {
  text-align: center;
  max-width: 1200px;
  margin: $small-spacing auto;
  padding: $base-spacing;
  border-width: 1px;
  border-style: solid;
  border-radius: $base_border_radius;

  &--safe {
    @extend .Flash;

    @include basic-flash(map-get($semantic-colors, safe));
  }

  &--caution {
    @extend .Flash;

    @include basic-flash(map-get($semantic-colors, caution));
  }

  &--danger {
    @extend .Flash;

    @include basic-flash(map-get($semantic-colors, danger));
  }

  &--info {
    @extend .Flash;

    @include basic-flash(map-get($semantic-colors, info));
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

  &__text {
    margin: 0;
  }
}
