.InlineForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;

  @media screen and (min-width: $S) {
    flex-flow: row wrap;
  }

  @media screen and (min-width: $M) {
    width: 70%;
  }

  button,
  input[type="submit"] {
    flex: 1;
    margin-top: $tiny-spacing;
    margin-bottom: $tiny-spacing;

    @media screen and (min-width: $S) {
      flex: 0;
      margin-left: $tiny-spacing;
      margin-right: $tiny-spacing;
    }
  }

  input[type="text"] {
    @include basic-form-field-styling;

    border-width: 1px 1px 5px 1px;
    border-style: solid;
    border-color: $gray-20 $gray-20 $black $gray-20;
    border-radius: $base-border-radius;
    padding: $small-spacing;

    @media screen and (min-width: $S) {
      width: 50%;
      margin: $tiny-spacing;
    }
  }
}
