.Paginator {
  font-family: $heading-semibold-font-family;
  text-transform: uppercase;
  text-align: center;
  margin-top: $super-spacing;
  margin-bottom: $super-spacing;

  a {
    color: $black;
    margin-left: $base-spacing;
    margin-right: $base-spacing;

    @media screen and (min-width: $M) {
      margin-left: $super-spacing;
      margin-right: $super-spacing;
    }

    &:hover {
      color: map-get($theme-colors, primary);
    }
  }

  p {
    margin-top: $base-spacing;
    margin-bottom: $base-spacing;
  }
}
