@mixin button-solid-color($_btn-background-color, $_btn-text-color) {
  background-color: $_btn-background-color;
  color: $_btn-text-color;
  border-color: $_btn-background-color;

  &:hover {
    background-color: darken($_btn-background-color, 20%);
  }
}

@mixin button-outline-color($_btn-text-color, $_btn-hover-text-color) {
  background-color: transparent;
  color: $_btn-text-color;
  border-color: $_btn-text-color;

  &:hover {
    background-color: $_btn-text-color;
    color: $_btn-hover-text-color;
  }
}
