// Colors
$theme-colors: (
  primary: hsla(218, 100%, 58%, 1),
  primary-variant: hsla(188, 100%, 58%, 1),
  secondary: hsla(38, 100%, 58%, 1),
  secondary-variant: hsla(68, 100%, 58%, 1),
  accent: hsla(278, 100%, 58%, 1),
  accent-variant: hsla(308, 100%, 58%, 1)
);

$semantic-colors: (
  info: hsla(218, 100%, 57.8%, 1),
  safe: hsla(115, 100%, 60%, 1),
  caution: hsla(49, 100%, 56.9%, 1),
  danger: hsla(0, 100%, 61%, 1)
);

$black: hsla(0, 0%, 20%, 1);
$gray-90: lighten($black, 10%);
$gray-80: lighten($black, 20%);
$gray-70: lighten($black, 30%);
$gray-60: lighten($black, 40%);
$gray-50: lighten($black, 50%);
$gray-40: lighten($black, 60%);
$gray-30: lighten($black, 70%);
$gray-20: lighten($black, 75%);
$gray-10: lighten($black, 79%);
$white: white;

// Font Colors
$base-font-color: $black;
$action-color: map-get($theme-colors, primary);

// Border
$base-border-color: $gray-30;
$base-border: 1px solid $base-border-color;

// Background Colors
$viewport-background-color: #fff;

// Typography
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

@font-face {
  font-family: systemsemibold;
  font-style: normal;
  font-weight: 600;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

@font-face {
  font-family: systembold;
  font-style: normal;
  font-weight: 900;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

@font-face {
  font-family: systemregular;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

$base-font-family: 'system';
$heading-bold-font-family: 'systembold';
$heading-semibold-font-family: 'systemsemibold';
$heading-regular-font-family: 'systemregular';
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Sizes/Spacing
$base-border-radius: 5px;
$base-spacing: 1.5em;
$tiny-spacing: $base-spacing / 5;
$small-spacing: $base-spacing / 3;
$mid-spacing: $base-spacing / 2;
$large-spacing: $base-spacing * 2;
$super-spacing: $base-spacing * 3;
$base-z-index: 0;

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Viewport Sizes
$XL: 1200px;
$L: 992px;
$M: 768px;
$S: 576px;

// Forms
$_form-background-color: $white;
$_form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$_form-box-shadow-focus: $_form-box-shadow, 0 0 5px rgba($action-color, 0.7);
