html {
  box-sizing: border-box;
  color: $black;
  font-family: $base-font-family;
  font-size: 100%;
  vertical-align: text-bottom;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}
