/// Provides styles for the Ribbon element.
/// @group layout
/// @author Richard Davis
/// @example
///   // A wrapper that applies flex box spacing and positioning to child elements.
///   <div class="Ribbon">
///   </div>
.Ribbon {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: spacing-size(4) auto spacing-size(5) auto;
}
